.gsectionContainer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.gsubcontainer {
    height: 100%;
    width: 75%;
    background-color: #F3F5FB;
    display: flex;
    border-radius: 25px;
    justify-content: space-evenly;
    /* padding: 20px; */
    margin: auto;
    align-items: center;
}

.ncopy {
    /* background-color: red; */
    margin: 0%;
    width: 73%;
    gap: 15px;
    display: grid;

    h1 {
        font-size: 30px;
        font-weight: 400;
    }

    p {
        font-size: 16px;
        /* background-color: blue; */
        margin: 0%;
        padding: 0%;
    }
}
