.sectionContainer {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subcontainer {
    height: 190px;
    width: 75%;
    background-color: #F3F5FB;
    display: flex;
    border-radius: 35px;
    justify-content: space-evenly;
    /* padding: 20px; */
    margin: auto;
    align-items: center;
}

.copy {
    /* background-color: red; */
    margin: 0%;
    width: 73%;
    gap: 10px;

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
        /* background-color: blue; */
        margin: 0%;
        padding: 0%;
    }
}
